### General ###
*.log
*.pyc
*.swp
*.DS_Store
*.env
*.venv
.env.local
.env.development
.env.production
.idea/
.vscode/
__pycache__/
.pytest_cache/
node_modules/
dist/
build/
*.egg-info/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

### Node.js / React ###
# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Docker ###
**/docker-compose.override.yml
**/.dockerignore
**/docker-data/

# Docker build files
**/.dockerbuild

### Jupyter Notebook ###
.ipynb_checkpoints

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### System Files ###
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# End of https://www.toptal.com/developers/gitignore/api/python,node,react,docker,vscode

# Ignore Hugging Face model files
**/models/
**/.cache/
**/*.bin
**/*.safetensors
**/*.h5
**/*.pt
**/*.pth
**/*.msgpack
**/*.onnx
**/*.ot
**/*.tflite
**/*.ckpt
**/pytorch_model*
**/tf_model*
**/flax_model*
**/model.safetensors.index.json
**/tokenizer.json
**/tokenizer_config.json
**/special_tokens_map.json
**/generation_config.json